body {
  background-color: lightblue;
  font-family:Verdana; 
  color:white; 
  text-align:center; 
  max-width:980px; 
  margin: auto;">
}

h1 {
  color: navy;
  margin-left: 20px;
  text-allign: center;
}

p {text-align: center;}

div {text-align: center;}
