body {
  background-color: MediumSeaGreen;
  font-family:Verdana; 
  color:black; 
  text-align: center; 
  max-width:980px; 
  margin:auto;
  border: 1px solid black;">
}

h1 {
  color: black;
  margin-left: 20px;
  text-allign: center;
}

p {text-align: center;}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
